* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    height: 100%;
}

.row {
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.row::before,
.row::after {
    display: table;
    content: '';
}

.row::after {
    clear: both;
}

.col-3,
.col-4,
.col-6,
.col-12 {
    float: left;
    padding-left: 1.04166666px;
    padding-right: 1.04166666px;
}

/* Mobile */

.col-3,
.col-4,
.col-6,
.col-12 {
    width: 100%;
}

.col-12 {
    height: 10%;
}

h1 {
    color: black;
    font-size: 16px;
}

.js-search-form {
    border: 1px solid lightgray;
    border-radius: 20px;
    width: 50%;
    background-color: rgba(179, 179, 181, 0.5);
    padding: 10px;
    margin: 0 auto;
}

@media only screen and (min-width: 640px) {
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-6 {
        width: 50%;
    }
    .col-12 {
        width: 100%;
        height: 20%;
    }
    h1 {
        font-size: 30px;
    }
    .js-search-form {
        border: 1px solid lightgray;
        border-radius: 20px;
        width: 50%;
        height: 50px;
        background-color: rgba(179, 179, 181, 0.5);
        padding: 10px;
        margin: 0 auto;
    }
}

.searchContainer {
    text-align: center;
    /* width: 100%; */
    z-index: 1;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    background-color: white;
    border-bottom: 2px solid lightgray;
    padding-bottom: 2%;
}



a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

a:visited {
    color: darkred;
}

.js-result-container {
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
}

.js-query {
    width: 40%;
}

.js-search-results {
    position: absolute;
    top: 25%;
    left: 10%;
    right: 10%;
}
